.buttonOrder {
    position: fixed;
    bottom: 0;
    left: 1px;
    background-color: rgb(38, 121, 38);
    width: 99%;
    height: 50px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
<<<<<<< HEAD
    margin: 0 0 4px;
    border: 2px groove rgb(120, 120, 120);

    
>>>>>>> 0a0697581ec37b480a4d6e1bbcb8aad071b1d413
    border-radius: 5px;
    opacity: 1;
    z-index: 10;
    transition: all 500ms ease;
}

.buttonOrder:hover {
    background-color: rgb(24, 77, 24);
}

.cart__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin: 5px 15px;
    gap: 10px;
  }
<<<<<<< HEAD

.summa_order {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}
=======
>>>>>>> 0a0697581ec37b480a4d6e1bbcb8aad071b1d413
