.buttonOrder {
    position: fixed;
    bottom: 0;
    background-color: rgb(38, 121, 38);
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 5px;
    padding: 8px 10px;
    opacity: 1;
    z-index: 10;
    transition: all 500ms ease;
}

.buttonOrder:hover {
    background-color: rgb(24, 77, 24);
}

.cart__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin: 5px 15px;
    gap: 10px;
  }
