:root {
  --primary-color: #e0c521;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100px;
  height: 250px;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 0.3rem;
  margin: 20px 10px;
  position: relative;
  border-radius: 5px;
}

.card__title {
  font-weight: 400;
  text-align: center;
  justify-content: center;
  margin: 15px auto 0;
  
}

.card__price {
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.image__container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.image__container img {
  width: 100%;
  margin-top: 15px;
  object-fit: cover;
}

.card__price {
  text-align: center;
  display: inline-block;
}

.card__badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: rgb(227, 112, 30);
  border-radius: 50%;
  transform: translate(20px, -20px) scale(1);
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 2px solid rgb(227, 112, 30);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__badge--hidden {
  display: none;
}
  
.product-details {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 20;
  padding: 10px 5px;
  width: 96%;
  height: 96vh;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  background-color: rgb(19, 19, 52);
  color: white;
}

.product-details-img {
  width: 200px;
  margin: 10px auto 0;
}

.product-details-close {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 18px;
  padding: 2px 6px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
}

.product-details-title {
  text-align: left;
  font-size: 16px;
  width: 70%;
  padding: 0 10px;
  margin: 0;
}

.product-details-description {
  text-align: unset;
  padding: 0 10px;
}

.product-details-price {
  margin: 0;
  padding: 0 10px;
  text-align: left;
}

.product-details-count {
  position: relative;
}

.product-details-count .btn-container .count {
  color: white;
  font-size: 18px;
  padding: 10px 0;
  font-weight: 600;
}

@media (min-width: 300px) {
  .card {
    width: 110px;
    height: 230px; 
  }
  .image__container img{
    margin-top: 0;
  }
  .card__title {
    margin-top: 0;
  }
}

@media (min-width: 350px) {
  .card {
    width: 140px; 
  }
}

@media (min-width: 400px) {
  .card {
    width: 150px; 
  }
}