:root {
  --primary-color: #e0c521;
}

.card {
  position: relative;
  width: 100px;
  height: 230px;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 0.3rem;
  margin: 20px 10px;
  position: relative;
  border-radius: 5px;
}



.card__title {
  font-weight: 400;
  text-align: center;
  
}

.card__title .card__price {
  font-weight: bold;
}

.image__container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.image__container img {
  width: 100%;
  margin-top: 15px;
  object-fit: cover;
}



.card__price {
  text-align: center;
  display: inline-block;
}

.card__badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  transition: all 0.3s ease;
  opacity: 0.8;
}



.card__badge--hidden {
  display: none;
}


@media (min-width: 370px) {
  .card {
    width: 150px; /* Изменяем ширину на 150px при ширине экрана больше 330px */
  }
  

}