body{
  background-color: rgb(19, 19, 52);
  color: #fff;
  min-width: 300px;
  
}

.filter {
  
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
  justify-content: center;
  gap: 5px;
  margin: 10px 0 0;
}

.filter.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; /* Позволяет фильтру быть выше остального контента */
  /* Добавьте любые другие стили для фильтра при фиксированной позиции */
}

.filter > button {
  background-color: #e0c521;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 2px 10px;
  cursor: pointer;
  transition: all 500ms ease;
  
}
.filter > button:hover {
  background-color: #9b8a1a;
  
  
}

.cards__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.heading{
  text-align: center;
}

